<header class="direction">
    <span>
      <strong class="blue">Identity<span class="blue-light">Money</span></strong>
    </span>
    <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav direction-link">
      <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Minha conta</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Minha carteira</button>
            <button ngbDropdownItem>Validações efetuadas</button>
            <button ngbDropdownItem>Extrato</button>
          </div>
        </li>
    <a href="">Notificações</a>
    <a href="">Conversas</a>
  </ul>
</header>  